.cart-container{
    width: 70%;
    height: 85%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
}
.header{
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading{
    font-size: 30px;
    font-family: 'open sans';
    font-weight: 700;
    color: rgb(47, 47, 227);
}
.action{
    font-size: 16px;
    font-family: 'open sans';
    font-weight: 600;
    color: #E44C4C;
    border-bottom: 1px solid #E44C4C;
}

.Cart-Items{
 margin: auto;
 width: 90%;
 height: 30%;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.image-box{
    width: 15%;
    text-align: center;
    padding: 5px;
}

/* .about{
    height:100%;
}

.title{
 padding-top: 5px;
 padding-right: auto;
 line-height: 10px;
 font-size: 32px;
 font-family: ‘Open Sans’;
 font-weight: 800;
 color: #202020;
}


 */